.post{
    &-cover {
        border-radius: 50%;
        margin: 40px -50px;
        width: 250px;
        max-width: 375px;
    
        @media (--tablet) {
          margin: 20px 0;
          width: 100%;
        }
    }
}
